h1 {
  color: blue;
  font-size: 20px;
  background-color: yellow;
}

body {
  background-color: pink;
}

.puup:hover {
  background-color: green;
}

.cat:hover {
  background-color: red;
}
#heading{
  color:black;
}
.circular{
  border-radius: 100%;
}
